<h2>Documenten</h2>
<p>Dit zijn enkele documenten die misschien nog wel van pas komen...</p>
<h3>Inschrijvingsbundel</h3>
<p><a href="http://www.steinerschoollier-bis.be/index.php?option=com_docman&task=doc_download&gid=6&Itemid=108">word (.doc)</a></p>
<h3>Schoolgids</h3>
<p><a href="http://www.steinerschoollier-bis.be/index.php?option=com_docman&task=doc_download&gid=7&Itemid=108">word (.doc)</a></p>
