<h3>Gezin</h3>
<p>
	<%= label_tag(:fathers_name, "Naam vader:") %>
	<%= f.text_field :fathers_name %>
</p>

<p>
	<%= label_tag(:mothers_name, "Naam moeder:") %>
	<%= f.text_field :mothers_name %>
</p>

