<% @newsitems.each do |item| %>
	<div class="external">
		<h2><%= item.title %></h2>
		<% if item.subtitle %><h3><%= item.subtitle %></h3><% end %>
		<p><%=raw item.body %></p>
	</div>
<% end %>


<% content_for :sidebar do %>

niks

<% end %>