<html>

<head>
	<title>De Sterrendaalders</title>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
	<style>
	
	body { 
		overflow: hidden;
		
		}
		
		a { 
			color: DarkMagenta;
		}

		.external a { 
			color: MidnightBlue;
		}
		
		h1, h2, h3, h4 { 
			font-family: 'Ubuntu';
		}
		
		h1, h2 { 
			color: Maroon ;
		}

		.external h1, .external h2 { 
			color: RoyalBlue;
		}
		
		h1 {
			margin-top: 0;
			margin-bottom: 0;
		}
		h2 {
			margin-top: 0;
		}
		
		body, td {
			font-family: verdana;
			font-size: 9pt;
			margin: 0;
			color: Indigo;
		}
		
		table.wrap {
			height: 100%;
			width: 100%;
		}
		
		.side {
			background-color: #FFE4E1;
			background-color: rgba(255,228,225,0.8);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCFFE4E1', EndColorStr='#CCFFE4E1');
			width: 300px;
			margin: 10px;
			padding: 10px;
		}
		
		.external {
			margin: 10px;
			padding: 10px;
			background-color: #E1E4FF;
			background-color: rgba(225,228,255,0.8);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCE1E4FF', EndColorStr='#CCE1E4FF');

			color: SteelBlue;
			display: table;

		}
		
		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	</style>
</head>

<body>
	<image src="http://farm6.static.flickr.com/5245/5226892227_fa734b62ba_b.jpg" style="width: 100%; position:absolute; z-index:-1">
	
	<table border=0 cellspacing=0 cellpadding=0 class="wrap"><tr><td valign=top><div class="side">
		<h1>De Sterrendaalers</h1>
		<h2>R. Steinerscholen - Lier</h2>

		<p>We zijn druk in de weer om deze site in een nieuw kleedje te steken! Voorlopig moet je het dus even doen met deze contactinformatie en de informatie over onze Midsummerfair.</p>
		<h3>Ons Adres</h3>
		<p>Mallekotstraat 43</br>
		2500 Lier</p>

		<h3>Contactinformatie</h3>
		<p>Telefoon: 03 491 80 10</p>
		<table border=0 cellpadding=0 cellspacing=0><tr>
			<td width="50%" valign="top">
				<h4>Basisschool</h4>
				<p>Fax: 03 491 09 04</p>
				<p>Email: <a href="mailto:info.basisschool@steinerschoollier.be">info.basisschool @steinerschoollier.be</a></p>
			</td>
			<td width="50%" valign="top">
				<h4>Middelbare school</h4>
				<p>Fax: 03 491 09 05</p>
				<p>Email: <a href="mailto:info.middelbareschool@steinerschoollier.be">info.middelbareschool @steinerschoollier.be</a></p>
			</td>
		</tr></table>
		<P>Oudervereniging: <a href="mailto:oudervereniging@steinerschoollier-bis.be">oudervereniging@steinerschoollier-bis.be</a></
	</div></td>
	<td width="100%" valign="top">

		<% @newsitems.each do |item| %>
			<div class="external">
				<h1><%= item.title %></h1>
				<% if item.subtitle %><h2><%= item.subtitle %></h2><% end %>
				<p><%=raw item.body %></p>
			</div>
		<% end %>
					
	</td>
	</tr></table>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21816038-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>

</html>